@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-all: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: rgb(16,16,16);
}

/* POP UP MESSAGE */

.pop-up-message {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(32,32,32);
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 12px;
    border-radius: 5rem;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    transition: top 300ms;
}

.pop-up-message-svg {
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
}

.pop-up-message-itself {
    color: white;
    font-weight: 300;
}

/* CONTAINER */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

/* OUTPUT */

.output {
    min-width: 340px;
    height: 50px;
    background-color: rgb(22,22,22);
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding-inline: 20px 6.5px;
    column-gap: 6.5px;
    font-weight: 400;
    box-shadow: 0 4px 0 black;
}

.output-error {
    animation: 200ms output-error-animation;
}

@keyframes output-error-animation {
    0%{transform: translateX(0);}
    25%{transform: translateX(-5px);}
    50%{transform: translateX(0);}
    75%{transform: translateX(5px);}
    100%{transform: translateX(0);}
}

.output-text {
    font-size: 1.5rem;
    color: white;
}

.output-divider {
    height: 80%;
    border: 0;
    border-left: 1px solid rgba(255,255,255,0.05);
}

.copy-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30,30,30);
    cursor: pointer;
}

.copy-button-svg,
.copy-button-svg-copied {
    width: 18px;
    height: 18px;
    fill: white;
}

.copy-button-svg-copied {
    display: none;
}

.copy-button:hover {
    background-color: rgb(35,35,35);
}

.copy-button-copied {
    background-color: rgb(40,40,40);
}

.copy-button-copied:disabled {
    pointer-events: none;
}

.copy-button-copied .copy-button-svg {
    display: none;
}

.copy-button-copied .copy-button-svg-copied {
    display: unset;
}

/* INPUT BUTTON */

.input-button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 2rem;
    border: 0;
    background-color: rgb(18,18,18);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    cursor: pointer;
    box-shadow: 0 3px 0 black;
}

.input-button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 black;
    border-bottom: 1px solid rgba(255,255,255,0.02);
}

/* COPIED PASSWORDS CONTAINER */

.all-the-copied-passwords-container {
    position: fixed;
    bottom: -360px;
    right: 10px;
    width: 280px;
    height: 400px;
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: bottom 300ms;
}

.copied-passwords-container-js {
    bottom: 0px;
}

.copied-passwords-container-js .all-the-copied-passwords-container-top-button-svg {
    transform: rotateZ(180deg);
}

/* COPIED PASSWORDS CONTAINER TOP */

.all-the-copied-passwords-container-top {
    background-color: rgb(25,25,25);
    height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.03);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-inline: 10px;
}

.all-the-copied-passwords-container-top-button {
    width: 25px;
    height: 25px;
    border-radius: 2rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28,28,28);
    border: 1px solid rgba(255,255,255,0.04);
    cursor: pointer;
}

.all-the-copied-passwords-container-top-button-svg {
    width: 15px;
    height: 15px;
    color: white;
}

.all-the-copied-passwords-container-top-button:hover {
    background-color: rgb(32,32,32);
}

.all-the-copied-passwords-container-top-text {
    text-align: center;
    color: white;
}

/* COPIED PASSWORDS CONTAINER BOTTOM */

.all-the-copied-passwords-container-bottom {
    background-color: rgb(18,18,18);
    overflow: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse;
    justify-content: flex-end; */
    row-gap: 5px;
}

.all-the-copied-passwords-container-bottom::-webkit-scrollbar {
    width: 1px;
}

.all-the-copied-passwords-container-bottom::-webkit-scrollbar-thumb {
    background-color: rgb(77, 77, 77);
}

.copied-password-itself {
    background-color: rgb(24, 24, 24);
    padding: 5px 15px;
    padding-inline: 15px 8px;
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.04);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    column-gap: 8px;
}

.copied-password-itself-text {
    color: white;
    font-weight: 400;
}

.copied-password-itself-divider {
    border: 0;
    height: 100%;
    border-left: 1px solid rgba(255,255,255,0.05);
}

.copied-password-itself-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 0;
    background-color: rgb(30,30,30);
    border-radius: 2rem;
    cursor: pointer;
}

.copied-password-itself-button-copied {
    background-color: rgb(40,40,40);
}

.copied-password-itself-button-copied > .copied-password-itself-button-svg {
    display: none;
}

.copied-password-itself-button-copied > .copied-password-itself-button-svg-copied {
    display: unset;
}

/* .copied-password-itself-button-copied:disabled {
    pointer-events: none;
    background-color: red;
} */

.copied-password-itself-button-svg,
.copied-password-itself-button-svg-copied {
    fill: white;
    width: 15px;
    height: 15px;
}

.copied-password-itself-button-svg-copied {
    display: none;
}

.copied-password-itself-button:hover {
    background-color: rgb(35,35,35);
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
    .all-the-copied-passwords-container {
        width: 95%;
    }
    .output {
        min-width: 95%;
    }
}

@media (max-width: 340px) {
    .output-text {
        font-size: 1.2rem;
    }
    .all-the-copied-passwords-container-top-text {
        font-size: 0.9rem;
    }
}