@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-all: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-all);
}

body {
    background-color: rgb(16,16,16);
}

/* CONTAINER */

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

/* OUTPUT */

.output {
    min-width: 330px;
    height: 50px;
    background-color: rgb(22,22,22);
    border-radius: 2rem;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding-inline: 20px 6.5px;
    column-gap: 6.5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 0 4px 0 black;
}

.output-divider {
    height: 80%;
    border: 0;
    border-left: 1px solid rgba(255,255,255,0.05);
}

.copy-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30,30,30);
    cursor: pointer;
}

.copy-button-svg,
.copy-button-svg-copied {
    width: 18px;
    height: 18px;
    fill: white;
}

.copy-button-svg-copied {
    display: none;
}

.copy-button:hover {
    background-color: rgb(35,35,35);
}

.copy-button-copied {
    background-color: rgb(40,40,40);
}

.copy-button-copied:disabled {
    pointer-events: none;
}

.copy-button-copied .copy-button-svg {
    display: none;
}

.copy-button-copied .copy-button-svg-copied {
    display: unset;
}

/* INPUT BUTTON */

.input-button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 2rem;
    border: 0;
    background-color: rgb(18,18,18);
    color: white;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.01);
    cursor: pointer;
    box-shadow: 0 3px 0 black;
}

.input-button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 black;
    border-bottom: 1px solid rgba(255,255,255,0.02);
}